/Makefile
/config.h
/config.log
/config.status
/docs/Makefile
/docs/man/Makefile
/docs/reference/Makefile
/exo-desktop-item-edit/.deps/
/exo-desktop-item-edit/.libs/
/exo-desktop-item-edit/Makefile
/exo-desktop-item-edit/exo-desktop-item-edit
/exo-desktop-item-edit/exo_desktop_item_edit-*.o
/exo-open/.deps/
/exo-open/.libs/
/exo-open/Makefile
/exo-open/exo-open
/exo-open/exo_open-main.o
/exo/.deps/
/exo/.libs/
/exo/Makefile
/exo/exo-2.pc
/exo/libexo_2_la-exo-*.lo
/exo/libexo-2.la
/po/*.gmo
/libtool
/pixmaps/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/stamp-it
/stamp-h1
/tests/.deps/
/tests/Makefile

